name: CI/CD Pipeline

on:
  push:
    branches:
      - master  # Trigger the workflow on push to the main branch

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
           java-version: '17'
           distribution: 'temurin'


      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@417ae3ccd767c252f5661f1ace9f835f9654f2b5 # v3.1.0

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Deploy to Tomcat on Raspberry Pi
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.PI_HOST }}
          username: ${{ secrets.PI_USER }}
          key: ${{ secrets.PI_SSH_KEY }}
          target: /usr/share/tomcat/webapps
          source: build/libs/Messenger-0.0.1-SNAPSHOT.jar

